:root {
    --primary-color: #046a38;
    --secondary-color: #c70d00;
    --accent1-color: #ffe900;
    --accent2-color: #ffffff;

    --heading-font: "Belleza";
    --paragraph-font: "Roboto Serif";

    --headline-color-on-white: #046a38;
    --headline-color-on-color: #ffe900;
    --paragraph-color-on-white: #046a38;
    --paragraph-color-on-color: #FFFFFF;
    --paragraph-background-color: #046a38;
    --nav-link-color: #ffe900;
    --nav-background-color: #046a38;
    --nav-hover-link-color: #046a38;
    --nav-hover-background-color: #ffe900;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    font-size: large;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 49, 53, 0.8);
}

@media (max-width: 1280px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }

    header span {
        font-size: 30px;
    }

    nav {
        font-size: 20px;
    }

    nav a {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    body {
        font-size: 12px;
    }

    header span {
        font-size: 25px;
    }

    nav {
        font-size: 18px;
    }
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    position: relative;
    z-index: 10;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--nav-link-color);
}

.links {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--nav-background-color);
    transition: transform 0.3s ease;
}

.links.open {
    display: flex;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    color: var(--nav-link-color);
    display: block;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.nav-list a:hover,
.nav-list a:active {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 5px;
}

.hero-img {
    width: 100%;
    height: auto;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
    margin-left: 1.5em;
}

.logo {
    padding: 0.5em;
    text-decoration: none;
    color: var(--accent1-color);
}

.logo:hover {
    text-decoration: underline;
}

.logo img {
    width: auto;
    height: 40px;
    display: block;
}

.button {
    font-family: var(--heading-font);
    font-weight: 300;
}

.join:hover {
    background-color: var(--accent1-color);
    transition: 1s background;
}

.join-us:hover {
    background-color: var(--accent2-color);
    transition: 1s background;
}

img {
    width: 100%;
}

#hero-msg {
    background-color: var(--primary-color);
    text-align: center;
    padding: 2em;
    margin-top: 1em;
    grid-column: 2/3;
}

.title {
    color: var(--headline-color-on-color);
    font-family: var(--title-font);
    font-size: 3em;
    font-weight: 300;
    text-shadow: 4px 4px 4px var(--secondary-color);
}

.button-box a {
    background-color: var(--secondary-color);
    color: var(--headline-color-on-color);
    padding: 15px 50px;
    border-radius: 5px;
    text-decoration: none;
}

.button-box a:hover {
    background-color: var(--headline-color-on-color);
    color: var(--secondary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}

.banner {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 35%;
    width: 30%;
    z-index: 1000;
    /* display: none; */
}

.banner p {
    margin: 0;
}

.banner button {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.banner button:hover {
    background-color: var(--headline-color-on-color);
    color: var(--secondary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}

.main-home {
    background-color: #ffffff;
    display: inline-block;
}

.main-home h2 {
    grid-column: 1/4;
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-weight: 500;
    text-align: center;
    padding: 2em;
}

.card {
    background-color: var(--paragraph-background-color);
    color: var(--accent1-color);
    padding: 2em;
    margin: 1em;
    border-radius: 5px;
}

.current-event.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.current-event.card img {
    display: block;
    max-width: 80%;
    height: auto;
    border: 3px solid var(--secondary-color);
    box-shadow: 0 0 50px var(--secondary-color);
    border-radius: 5px;
}

.current-event.card p {
    max-width: 80%;
    text-align: justify;
    margin-bottom: 15px;
    z-index: 1;
}

#weather-icon {
    width: 30%;
}

#threeDayForecast {
    width: 40%;
    margin: auto;
    padding: 10px;
}

div .forecast-item {
    display: flex;
}

.weather-card {
    text-align: center;
    font-size: 1em;
}

.section-title {
    font-family: var(--heading-font);
    text-align: left;
    padding-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.spotlights {
    padding: 20px;
}

.spotlight {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.spotlight img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.spotlight div {
    max-width: 600px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.section-title {
    text-align: left;
    margin-bottom: 20px;
}

main.discover-page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

hr {
    border: 1px solid var(--secondary-color);
}

.parent-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr)
}

.discover-card {
    grid-column: 1;
    border-radius: 5px;
}

.discover-card img {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    display: block;
    margin: auto;
    border-radius: 5px;
}

.history-card {
    grid-column: 2/ 6;
    margin: 20px auto;
    background-color: var(--paragraph-background-color);
    color: var(--accent1-color);
    margin: 20px;
    border-radius: 5px;
}

.history-card p {
    line-height: 1.3;
}

.history-card img {
    float: right;
    margin-left: 10px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    border-radius: 5px;
    width: 400px;
    height: auto;
    margin: 10px;
}

.history-card .porto-his {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    border-radius: 5px;
    width: 70%;
}

.history-card .ferreira {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    border-radius: 5px;
    width: 70%;
}

.gallery-card {
    grid-column: 1/ 6;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    position: relative;
}

.gallery-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.gallery-item:nth-child(n+4) {
    align-items: flex-end;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    border-radius: 5px;
}

.gallery-item img:hover {
    transform: scale(1.9);/* Zoom out effect on hover */
    z-index: 2;
}

.demographics-card {
    grid-column: 1/5;
    grid-row: 1/3;
    margin-top: 10px;
    text-align: left;
}

.demographics-card .demographics-section {
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
}

.demographics-card h4 {
    margin-top: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

/* Hamburguer */
/* ************************************************************* */

/* Hamburger menu styles */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: block; /* Ensuring the button is displayed as block */
}

.hamburger .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin:3px 0;
    transition: transform 0.4s ease, opacity 0.4s ease; /* Smooth transition for animation */
}

#menu::before {
    content: "☰"; /* Hamburger icon symbol */
    color: var(--secondary-color);
    padding-right: 0.5em;
}

#darkModeToggle,
#menu {
    cursor: pointer;
}

/* Hamburger animation to X */
.hamburger.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0; /* Hide middle line when open */
}

.hamburger.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* ************************************************************* */


/* DarkMode */
/* ************************************************************* */

#darkModeToggle {
    cursor: pointer;
    display: inline-block;
}

body.dark-mode {
    background-color: black;
    color: #ffffff;
    box-shadow: 0 0 30px rgba(255, 233, 0, 0.8);
}

.dark-mode .nav-background-color {
    background-color: black;
}

.dark-mode .nav-link-color {
    color: #ffffff;
}

.dark-mode .main-home-title{
    color: var(--accent1-color);
}

.dark-mode .hero-img.light-mode-img {
    display: none;
}

.dark-mode .hero-img.dark-mode-img {
    display: block;
}

.dark-mode .main-home {
    background-color: black;
}

/* ************************************************************* */

/* Join Page */

.main-join {
    margin: 30px auto;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Form Styles */
#myForm form {
    background-color: var(--primary-color);
    margin: 20px;
    flex: 1 1 45%;
    max-width: 500px;
}

#myForm .input {
    display: flex;
    flex-direction: column;
    padding-top: 0.8rem;
}

#myForm label input,
select,
textarea {
    display: block;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#myForm input:focus,
textarea:focus {
    outline: none;
    border-color: var(--secondary-color);
}

#myForm button {
    margin-top: 2em;
    padding: 0.8em;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

#myForm button:hover {
    background-color: var(--headline-color-on-color);
    color: var(--secondary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}

/* Membership Styles */
.membership {
    flex: 1 1 45%;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    padding: 2em;
    margin: 20px;
    border-radius: 5px;
}

.member-title {
    text-align: center;
}

.member-card {
    padding: 0.5em 2em;
    margin: 1em 0;
    border: 3px solid var(--secondary-color);
    box-shadow: 0 0 50px var(--secondary-color);
    border-radius: 5px;
}

.member-card img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.member-card-link {
    text-decoration: none;
    color: var(--accent1-color);
    text-shadow: 5px 2px 2px var(--secondary-color);
}

.member-card-link:hover {
    color: var(--secondary-color);
    text-shadow: 1px 1px 1px var(--accent1-color);
    text-decoration: underline;
    
}

.main-thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--secondary-color);
    padding: 20px;
}

/* Directory Styles */
.main-directory {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-directory .card img {
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.main-directory .frame {
    padding: 1em;
}

.main-directory .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

.main-directory .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    padding: 1em;
    width: 100%;
}

.menu button {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

#corporate-members {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#corporate-members .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#members.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

#members.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#members section {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
}

#members section img {
    width: 100%;
    height: auto;
}

#members section h3 {
    font-size: 1.5rem;
    margin: 0.5em 0;
}

#members section p,
#members section a {
    margin: 0.5em 0;
}

#members.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}

#members.list section img {
    display: none;
}

#members.list section h3 {
    font-size: 1rem;
}

.member-link {
    text-decoration: none;
    color: var(--accent1-color);
    text-shadow: 5px 2px 2px var(--secondary-color);
}

.member-link:hover {
    color: var(--secondary-color);
    text-shadow: 1px 1px 1px var(--accent1-color);
    text-decoration: underline;
    
}

@media (max-width: 768px) {
    #corporate-members .card {
        flex-direction: column;
        align-items: center;
    }

    #corporate-members .frame {
        padding: 0;
        text-align: center;
    }
    
    .main-directory .card {
        flex-direction: column;
        align-items: center;
    }

    .main-directory .frame {
        padding: 0;
        text-align: center;
    }

    .main-join {
        flex-direction: column;
        align-items: center;
    }

    #myForm label input,
    #myForm select,
    #myForm textarea {
        max-width: 94%;
    }

    .discover-page {
        grid-template-columns: 1fr;
    }

    .discover-sidebar {
        grid-column: 1 / -1;
        padding: 1em;
    }

    .history-card {
        grid-column: 1 / -1;
        padding: 1em;
    }

    .history-card img {
        width: 45%;
        height: auto;
        margin: 10px 0;
    }

    .gallery-card {
        grid-column: 1 / -1;
        padding: 1em;
    }

    .demographics-card {
        grid-column: 1 / -1;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }

    .input {
        flex: 1 1 calc(50% - 40px);
    }

    .input.full-width {
        flex: 1 1 100%;
    }

    .hero-paragraph2,
    .hero-paragraph3 {
        display: block;
        z-index: 1;
    }

    .logo {
        padding: 1em;
    }

    .grid-col-1,
    .grid-col-2,
    .grid-col-3 {
        grid-column: unset;
    }

    .grid-row-1,
    .grid-row-2 {
        grid-row: unset;
    }

    .forecast-row {
        margin-left: 32%;
        margin-right: 32%;
    }

    .hamburger {
        display: flex;
        /* Show hamburger on mobile */
        flex-direction: column;
        cursor: pointer;
        top: 50%;
        left: 15px;
        background-color: var(--nav-background-color);
        border: var(--secondary-color);
        z-index: 11;
        /* Ensure it's above other content */
    }

    .links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        /* Initially hide links */
        background-color: var(--nav-background-color);
        color: var(--nav-link-color);
        z-index: 10;
        /* Ensure it's below hamburger */
    }

    .links.open {
        display: flex;
        /* Show links when hamburger is clicked */
        flex-direction: column;
    }

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        /* Adjust layout as needed */
        align-items: center;
    }

    .nav-list li {
        margin: 0;
    }

    .nav-list a {
        color: var(--nav-link-color);
        display: block;
        padding: 1em 2em;
        text-align: center;
        text-decoration: none;
        transition: 0.5s;
    }

    .nav-list a:hover,
    .nav-list a:active {
        color: var(--nav-hover-link-color);
        background-color: var(--nav-hover-background-color);
        border-radius: 5px;
    }

    .discover-card {
        grid-column: 1 / -1;
    }

    .discover-card img {
        width: 45%;
        height: auto;
    }

}